/* Fonts */ 

/* Подключу позже */

/* Variables */

:root {
    --black: #000000;
    --dark: #283136;
    --header-bg-color: #eeeeee;
    --white: #ffffff;
    --accent: #FB565A;
    --light-green: #00CA74;
    --yellow: #EFC849;
    --footer-contact-color: #666666;
    --social-icon-bg: #E1E1E1;
}

img {
    max-width: 100%;
    height: auto;
  }
  .page {
    height: 100%;
  }

.page-body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    min-width: 1160px;
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

/* Header */

.main-header {
    background-color: var(--header-bg-color);
}

.site-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-nav a {
    color: var(--black);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    line-height: 30px;
}

.slider {
    background-color: var(--header-bg-color);
}

.slider-slogan {
    font-size: 55px;
    font-weight: 500;
}

.button {
    color: var(--white);
    background-color: var(--accent);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    line-height: 18px;
    font: inherit;
    text-align: center;
    border: 0;
}

.btn-green {
background-color: var(--light-green);
}

.btn-yellow {
    background-color: var(--yellow);
}

/* Main */

.main-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.services-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.service-title {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}

.service-desc {
    color: var(--dark);
}

.about-title {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}
.about-text {
    color: var(--dark);
}

.about-subtitle {
    margin: 0;
    padding: 0;
    font-weight: 700;
    text-transform: uppercase;
}

.about-list {
    padding: 0;
    margin: 0;
    list-style: none;
    color: var(--dark);
}

.indicators-value {
    font-size: 45px;
    font-weight: 700;
    line-height: 64px;
}

.indicators-value sup {
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
}
.indicators-descr {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
}

.partners-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.partners-item {
    opacity: 20%;
}
.partners-item:hover,
.partners-item:focus {
    opacity: 100%;
}

.partners-item:active {
    opacity: 10%;
}

/* Filters */

.filter fieldset {
    border: 0;
}

.filter legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px; 
    text-transform: uppercase;
  }

.filter label{
    color: var(--dark);
}
  

  /* .filter-input-checkbox:hover + label,
  .filter-input-checkbox:focus + label {
    color: var(--special);
  } */

/* Sort */

.section-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px; 
    text-transform: uppercase;
}

.sort-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sort-item {
    text-transform: uppercase;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    opacity: 0.3;
}
.sort-item:hover {
    opacity: 0.6;
}
.sort-item-active {
    opacity: 1;
}

/* Good list */

.goods-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.text-wrap {
    background-color: var(--header-bg-color);
    text-align: center;
}

.goods-descr {
    color: var(--footer-contact-color);
}

/* Pagination */

.pagination-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.pagination-item {
    background-color: var(--header-bg-color);
    border-radius: 3px;
    font-weight: 500;
    line-height: 18px;
}
/* Main footer */

.footer-contacts {
    background-color: var(--white);
}

.contacts-title {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.contacts-adress {
    color: var(--footer-contact-color);
    font-style: normal;
    line-height: 18px;
}
.contacs-phone {
    color: var(--footer-contact-color);
    text-decoration: none;
    line-height: 18px;
}

/* Social button */

.social-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icon {
    background-color: var(--social-icon-bg);
    width: 81px;
    height: 81px;
    border-radius: 50%;
    text-align: center;
}

.footer-slogan {
    padding: 0;
    margin: 0;
    font-size: 36px;
    line-height: 36px;
}

.footer-slogan-text {
    line-height: 22px;
}

/* Modal */

.modal {
    background: var(--white);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.40);
}

.modal-title {
    font-size: 45px;
    line-height: 53px;
}

.modal label {
    font-weight: 700;
    line-height: 18px;
}

.modal input,
.modal textarea {
    font: inherit;
    color: #444444;
    line-height: 18px;
    border-radius: 3px;
    border: 2px solid #D7DCDE;
    background: var(--white);
}

.modal input:hover,
.modal textarea:hover {
    border-color: #B4B9BB;
}
